.card {
 margin: 0 auto;
 max-width: 800px;
 margin-top: 24px;
 font-family: arial;
 font-size: 24px;
 text-align: center;
 background-color: lightgray;
 color: black;
}

:root {
  --window-bg: lightgray;
  --text-fg: black;
  --text-definition: #00589e;
  --text-transcription: #002b36;
  --text-extra: #586e75;
}

.nightMode {
  --window-bg: #272727;
  --text-fg: #ddd;
  --text-definition: #81c784;
  --text-transcription: #bdbdbd;
  --text-extra: #9e9e9e;
}

.phonetics, .phonetics_answer {
  font-family: 'Lato', calibri, sans-serif;
  font-size: 20px;
  margin-top: 9px;
  margin-bottom: 7px;
  color: var(--text-transcription);
}

.replay-button svg {
  width: 25px;
  height: 25px;
}
.replay-button svg circle {
  stroke: black;
  fill: transparent;
  stroke-width: 3px;
}

.replay-button svg path {
  stroke: black;
  fill: black;
}

.nightMode .replay-button svg circle {
 stroke: white;
}
.nightMode .replay-button svg path {
 stroke: white;
 fill: white;
}

.more {
    padding: 6px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    background-color: white; 
    color: black;
    border: 1px solid black;
    transition-duration: 0.3s;
}

.more:hover {
    background-color: transparent;
    border: 1px solid transparent;
    color: black;
}

.nightMode .more:hover {
    color: white;
}

#more_back {
    all: initial;
    * { all: unset; }
    margin-top: 7px;
    padding-top: 7px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}

.mobile .night_mode #more_back {
    color: white;
}

img {
  max-width: 280px;
  border: 2px solid #555;
}

.nightMode img {
  border: 2px solid black;
}

.mobile .night_mode img {
  border: 2px solid #555;
}


h1 {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  color: black; 
}

h1.one {
  font-size: 14px;
}

h1.one:before {
  content: "";
  display: block;
  border-top: solid 1px #93a1a1;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1; 
}

h1.one span {
  background: lightgray;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

.nightMode h1.one span {
  color: white;
  background: #2F2F31;
}

.mobile .night_mode h1.one span {
  color: white;
  background: black;
}


